body {
  background: url("http://www.pptback.com/uploads/3d-dance-party-backgrounds-powerpoint.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
