<!doctype html>
<html>
<head>
    <title>Next Techno</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="hero-unit" id="banner">
        <div class="container">
            <h1><span class="fa fa-volume-up"></span> Nextechno</h1>
            <p class="lead">Login or register with</p>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </header>
</body>
</html>

