<!doctype html>
<html>
<head>
    <title>Nextechno</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="hero-unit" id="banner">
        <div class="page-header text-center">
            <h1><span class="fa fa-headphones"></span> Profile</h1>
		    <a href="/events" class="btn btn-info btn-md">Events</a>
            <a href="/logout" class="btn btn-danger btn-md">Logout</a>
        </div>
    </header>

	<div class="container">
    	<div class="jumbotron text-center">
        	<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
        	<p><strong>id</strong>: <%= user.facebook.id %></p>
			<p><strong>name</strong>: <%= user.facebook.name %></p>
    	</div>
	</div>
</body>
</html>
